<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>API Explanation, Have I been Pwned API</title>
</head>
<body>

<p> This is my text now, nice paragraphs I hope </p>

</body>
</html>