p{
    text-align: center;
	text-align: justify;
	text-indent: 50px;
}
.code{
	background-color: beige;

	
	
}
.nextLink{
	text-align: center;
	
}
.toptitle{
	text-align: center;
	font-weight: bolder;
}
.header{
	background-color: lightblue;
	
}
